.map-container {
    height: 100%;
    position:absolute; 
    top:100px; 
    bottom:0; 
    width:100%;
}
    
body { 
    margin:0; 
    padding:0;
}

.sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: relative;
    top: 6px;
    left: 0;
    margin: 6px;
    border-radius: 4px;
    width:35%;
}